:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  color: #24292e;
}

header {
  position: sticky;
  text-decoration: none;
}
header > nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-bottom: 0.5rem;
  border-bottom: 0.07rem solid lightgrey;
  position: sticky;
}
a:link {
  text-decoration: none;
  padding: 0.5rem;
  font-size: 0.8rem;
  color: #24292e;
}

header > nav > div > :first-child {
  display: flex;
  align-items: baseline;
}

.octodex-header {
  display: flex;
  align-items: baseline;
}
.links {
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
}
body > main {
  display: flex;
  justify-content: center;
  align-content: center;
}

.octodex-box {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  flex-direction: row;
  align-items: baseline;
  display: inline-grid;
}

.octodex-image > a > img {
  height: 20rem;
  border: 2rem;
  border-color: grey;
}

body > .octodex-box > footer {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.name-of-octocats {
  display: flex;
  justify-content: left;
  justify-content: space-between;
}

.authors {
  display: flex;
  justify-content: flex-end;
}

.authors > a > img {
  height: 1.5rem;
  border-radius: 5rem;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

.end-of-page {
  padding: 2rem;
  font-size: 10pt;
  color: grey;
}

@media (max-width: 800px) {
  .github-link {
    width: 50%;
    display: none;
  }
}
